pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Bronze Folder ChildItems",
				"description": "Bronze Folder ChildItems",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_Versions_Folders",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachDay",
				"description": "For Each Child Item (Version) in the Bronze Layer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Bronze Folder ChildItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Bronze Folder ChildItems').output.exists",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Run Final Notebook",
							"description": "Run the Notebook everyday and add new data",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "final",
									"type": "NotebookReference"
								},
								"parameters": {
									"FolderName": {
										"value": {
											"value": "@formatDateTime(utcNow(), 'ddMMyyyy')\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"FolderName2": {
										"value": {
											"value": "@variables('FolderName')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "WaterSparkPool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"driverSize": "Small"
							}
						},
						{
							"name": "Set Date as Folder Name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Run Final Notebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FolderName",
								"value": {
									"value": "@formatDateTime(utcNow(), 'ddMMyyyy')\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FolderName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-17T10:56:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}